@{
    ViewBag.Title = "BannerDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section cssExtend{
    <link href="~/Content/Admin/custom/common.css" rel="stylesheet" />
    <style>

        #cke_editor {
            width: 552px;
        }
    </style>
}
<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <div class="col-md-12">
            <h3 class="box-title chew__h3">Banner - Enjoy Chewapp for Free</h3>
        </div>
        <div class="col-md-12">
            <a class="chewapp__link__decorate" href="~/Admin/Banner/Index">
                <img class="chew__back__button" src="~/Content/Admin/images/administrator/back_arrow.png" />
            </a>
        </div>
    </div>
    <div class="box-body">
        <form role="form" class="col-md-12">
            <div class="form-group">
                <span>Create Date / Time</span><br />
                <b>24 Oct 2019, 11:00</b>
            </div>
            <div class="form-group">
                <p>Title</p>
                <input type="text" class="form-control input-sm" placeholder="Enjoy Chewapp for Free" style="width:300px">
            </div>
            <div class="form-group">
                <p>
                    <img src="~/Content/Admin/images/administrator/banner_image.png" alt="Upload image" style="width:377px;height:124px" />
                </p>

                <p>
                    <a href="#" style="color: #169BD5;
    text-decoration: underline;">Upload Image</a>
                </p>
            </div>
            <div class="form-group">
                <p>Position</p>
                <input type="number" class="form-control input-sm" placeholder="1" style="width:51px">
            </div>
            <div class="form-group">
                <p>Details</p>
                <textarea id="editor" name="editor" rows="10" cols="80" style="width:552px;height:170px">
                                            This is my textarea to be replaced with CKEditor.
                    </textarea>
            </div>
            <div class="form-group">
                <p>Status</p>
                <select>
                    <option>Publish</option>
                    <option>Unpublish</option>
                </select>
            </div>
            <div class="form-group ">
                    <button class="btn btn-dropbox btn-block chew__button">Save</button>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
@section jsExtend{
    <script src="~/Content/Admin/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor')
            //bootstrap WYSIHTML5 - text editor
            $('.textarea').wysihtml5()
        })
    </script>}